ul.events {
    list-style: none;
    padding: 0;
    margin: 0;
}

.event-enter {
    opacity: 0;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}
.event-enter-active {
    opacity: 1;
}

.msg, .disconnect {
    cursor: default;
    border-bottom: 0 solid #ccc;
    box-shadow: 0 1px 0 0 white;
    overflow: auto;
    padding: 2px 0 2px 130px;
    line-height: 24px;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.disconnect {
    color: #888;
    font-style: italic;
}

div.heading {
    font-weight: bold;
}

ul.events {
    width: 500px;
    height: 800px;
    overflow-y: scroll;
}

div.complete-wrapper {
    position: relative;
    display: block;
}

ul#complete-list {
    position: absolute;
    bottom: 40px;
    top: initial;
    background-color: white;
    list-style: none;
    padding: 4px 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    min-width: 200px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-clip: padding-box;
}

.complete-enter {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.complete-enter-active {
    opacity: 1;
}

.complete-leave {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.complete-leave-active {
    opacity: 0;
}

ul#complete-list li {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: 400;
    line-height: 22px;
    color: #393133;
    white-space: nowrap;
}